<h1>{{actionType}} Produto</h1>
<form [formGroup]="form" (ngSubmit)="save()" #formDir="ngForm" novalidate>
  <div class="form-group row">
    <label class=" control-label col-md-12">Nome</label>
    <div class="col-md-12">
      <input class="form-control" type="text" formControlName="nome">
    </div>
  </div>
  <div class="form-group row">
    <label class="control-label col-md-12" for="Body">Valor</label>
    <div class="col-md-12">
      <input class="form-control" type="number" formControlName="valor">
    </div>
  </div>
  <div class="form-group row">
    <label class="control-label col-md-12" for="Body">Imagem</label>
    <div class="col-md-12">
      <input class="form-control" type="text" formControlName="imagem">
    </div>
  </div>
  <div class="form-group">
    <button type="submit" class="btn btn-success float-right">Salvar</button>
    <button class="btn btn-secondary float-left" (click)="cancel()">Cancelar</button>
  </div>
</form>